name: integration

on:
  push:
    branches: [main, test-me-*]
    tags:
  pull_request:
  workflow_dispatch:

jobs:
  dim:
    timeout-minutes: 10

    strategy:
      matrix:
        include:
          - toxenv: py310-dim
          - toxenv: py311-dim
          - toxenv: py312-dim
          - toxenv: py313-dim

    runs-on: ubuntu-latest

    steps:
      - name: Checkout v2
        # Required to mount the Github Workspace to a volume
        uses: actions/checkout@v5

      - name: Pull image and run tests
        uses: addnab/docker-run-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          image: ghcr.io/proxystore/proxystore-dim:nightly
          options: -v ${{ github.workspace }}:/proxystore-ex --network host --workdir /proxystore-ex
          run: tox -e ${{ matrix.toxenv }}
